#container {
	height: 90px;
	width: 180px;
	background-color: #4C6472;
	background-image: url("background.jpg");
	background-position: center;
	background-size: cover;
	border-radius: 5%;
}
.button {
	height: 30px;
	width: 60px;
	border-radius: 10%;
	position: relative;
	line-height: 30px;
	text-align: center;
	font-family: Verdana;
	box-shadow: 0 5px #999;
}
.button:active {
	box-shadow: 0 2px #666;
	transform: translateY(4px);
  }
#guess {
	top: 27px;
	left: 20px;
	background: #F95355;
}
#guess:hover {
	background: #f71316;
}
#auto {
	top: -3px;
	left: 100px;
	background: #57A4B1;
}
#auto:hover {
	background: #438590;
}